<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'partials/navbar.html' %}
    {% if user.is_authenticated %}
    <h2>All the new films:</h2>
    {% endif %}
    <ul class="list-group">
    {% for film in films %}
        <li class="list-group-item">{{ film.title }} | {{ film.release_date }} | {{ film.created_in_country }} | 
            {% for director in film.director.all %}
            {{ director }}
            {% endfor %} |
            {% for category in film.category.all %}
            {{ category }}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
    {% include 'partials/base.html' %}   
</body>
</html>