*{
    margin: 0px;
    box-sizing: border-box;
}
nav,footer{
    background-color: black;
    height:70px;
}
footer{
    margin-top: auto;
}
a{
    text-decoration: none;
    color:white;
}
li{
    display: inline;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 20px;
    float: right;
    padding: 25px 20px;
    font-family: Roboto;
}
body{
    background-image: url("Thor.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: Rubik;
    font-size: 75px;
    margin:25px;
}
p{
    font-family:Rubik;
    font-size: 20px;
    margin:25px;
}
#logo{
    height:60px;
    float: left;
    padding-top: 10px;
    margin-left:20px;
}
div{
    width: 50%;
}
footer li{
    float: left;
}
@media screen and (min-width: 1200px){
    nav{
        background-color:black;       
    }
    a{
        color:white;
    }
}

@media screen and (min-width: 992px) and (max-width:1200px){
    nav{
        background-color: red;
    }
    a{
        color: white;
    }
    h1{
        position: relative;
        top:300px;
        font-size: 22px;
    }
    p{
        font-size: 13px;
    }
}
@media screen and (min-width: 768px) and (max-width:992px) {
    h1{
        font-size: 25px;
    }
    nav{
        background-color: lightgreen;
    }
    a{
        color: black;
    }
}
@media screen and ((min-width: 600px) and (max-width: 768px )){
    h1{
        font-size: 35px;
    }
    nav{
        background-color: yellow;
    }
    a{
        color: black;
    }
}
