<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Images</h1>
  <p>You have uploaded {{ my_images.count }} images.</p>
  {% if my_images %}
    <ul>
      {% for image in my_images %}
        <li>
          <a href="{% url 'view_image' image.id %}">
            <img src="/media/{{ image.file }}" alt="{{ image.title }}" width="300px">
            <br>
            {{ image.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven't uploaded any images yet.</p>
  {% endif %}
</body>
</html>