.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo{
  width: 20vw;
  background-color: bisque;
  color: purple;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: 1px solid purple;
}

.addtodo{
  padding: 1vh 0.5vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: purple;
  color: wheat;
  border-radius: 25%;
}

@media screen and (max-width: 1000px) {
  .todo{
    width: 50vw;
  }
}