<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent a vehicle</title>
</head>
<body>
    {% if error == True %}
        <p>We are sorry, but there is either no customer or vehicle with such id</p>
    {% elif vehicle_rented == True %}
        <p>We are sorry, but this vehicle is currently unavailable</p>
    {% else %}
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type='submit' value = 'Rent'>
    </form>
    {% endif %}
</body>
</html>